<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="description" content="Information About DesignPro Website Developer">
    <meta name="Name" content="Popoola Sinaayo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Developer</title>
  </head>
  <style>
    body {
      text-align: center;
      color:white;
      background-color: black;
    }
    img {
      width: 200px;
      height: 150px;
      border-radius: 50%;
    }
    a {
      text-decoration: none;
      color: black;
      background-color: white;
      padding: 10px 10px 10px 10px;
    }
  </style>
  <body>
    <h1>About DesignPro Website Developer</h1>
    <a href="/">Back to Homepage</a>
    <br><br><br>
    <main>
      <img src="static/app/developer.jpg" alt="developer's Image">
      <div id="Info">
        <h3>Info</h3>
        <p>The Designer of the DesignPro's name is Popoola Sinaayo <br></p>
      </div>
      <div id="education">
        <h3>Education</h3>
        <p>The Developer of DesignPro is Currently a student at Lagos State Universty</p>
      </div>
      <div id="Contact Info">
        <h3>Contact Info</h3>
        <p>You can contact him via using various Social Media Platforms</p><br>
        <p>Linkedin: Popoola Sinaayo</p>
        <p>Facebook: Popoola Sinaayo</p>
        <p>GitHub: Popoola Sinaayo</p>
        <p>Twitter: Popoola Sinaayo</p>
      </div>
      <a href="/">Back To Home</a>
    </main>
  </body>
</html>
