<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form class="" action="/User_0" method="post">
        {% csrf_token %}
      <input type="text" name="FirstName" placeholder="Firstname">
      <input type="text" name="LastName" placeholder="Lastname">
      <input type="text" name="Email" placeholder="Email">
      <input type="text" name="Username" placeholder="Username">
      <input type="text" name="Password" placeholder="Password">
      <input type="submit" name="" value="Sign Up">
    </form>
  </body>
</html>
